{% extends "pages/index.html" %} 
{% load static %} 
{% block content %}
    <div class="damit">
        <hr>
        <div class="product-list">
            {% for costume in bookmarked_costumes %}
                <div class="product" data-product-id="{{ costume.id }}">
                    <div class="bookmark-icon" onclick="toggleBookmark(this, {{ costume.id }})">
                        &#9733; <!-- Filled star if bookmarked -->
                    </div>
                    <a href="{% url 'product' costume.id %}">
                    {% if costume.photo1 %}
                        <img src="{{ costume.photo1.url }}" alt="Product 1">
                    {% elif costume.photo2 %}
                        <img src="{{ costume.photo2.url }}" alt="Product 2">
                    {% elif costume.photo3 %}
                        <img src="{{ costume.photo3.url }}" alt="Product 3">
                    {% else %}
                        <p>No Image</p>
                    {% endif %}
                    <div class="product-info">
                        <h3>{{ costume.name }}</h3>
                        <p>Description: {{ costume.description }}</p>
                    </div>
                </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
