.btn-color {
    background-color: #3498db; 
    color: #fff; 
    border: 1px solid #3498db; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-color:hover {
    background-color: #2980b9; 
    color: #fff; 
}

  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }

  input[type="email"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



  /* Custom CSS for responsive adjustment */
@media (max-width: 767px) {
    .container {
        margin-top: 50px; /* Adjust this value based on your navbar height */
    }
}
